# Pandas
***

# Series

A Series is very similar to a NumPy array, infact it is built on a NumPy array object, but what makes it different from a NumPy array is Series can have labels, meaning they can be indexed by a label, lets understand it:

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
labels # Just printing the labels

['a', 'b', 'c']

In [5]:
my_data # Just printing my_data

[10, 20, 30]

In [6]:
arr # Just printing the arr

array([10, 20, 30])

In [7]:
d # just printing the Dictionary

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(data = my_data) # Creating a Series and passing my_data in it

0    10
1    20
2    30
dtype: int64

In [24]:
pd.Series(data = my_data, index = labels) # Passing both my_data and labels

a    10
b    20
c    30
dtype: int64

In [25]:
pd.Series(my_data, labels) # Directly passing my_data and Labels into Series

a    10
b    20
c    30
dtype: int64

In [30]:
pd.Series(arr) # You can also pass Arrays in the Series

0    10
1    20
2    30
dtype: int32

In [31]:
pd.Series(arr, labels) # Can pass arrays with labels also in the Series

a    10
b    20
c    30
dtype: int32

In [32]:
pd.Series(d) # passing Dictionary will automatically set indexes for data

a    10
b    20
c    30
dtype: int64

In [47]:
d # Well Dict was looking like this!

{'a': 10, 'b': 20, 'c': 30}

***
A series can also hold many other types of Data in its Data Points not only int but also characters

In [40]:
pd.Series(data = labels) # Passing Characters as data in Series

0    a
1    b
2    c
dtype: object

In [42]:
pd.Series(["Coders",  "Arcade"]) # Passing Strings also is Possible

0    Coders
1    Arcade
dtype: object

In [45]:
pd.Series(["Coders",  "Arcade"], ["C", "A"]) # Passing Chars in Indexes also

C    Coders
A    Arcade
dtype: object

***
You can also hold inbuilt python functions also in Pandas Series

In [48]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

Well you wont do this ever but still, this tells us that you can almost hold anything in a Pandas Series
***

<b> Now lets see some more uses of Series and see how information can be accessed by a Series </b>

In [63]:
ser1 = pd.Series([1,2,3,4,5], ["India", "USA", "Japan", "Russia", "China"])

In [64]:
ser1

India     1
USA       2
Japan     3
Russia    4
China     5
dtype: int64

In [73]:
ser2 = pd.Series([1,2,3,5,4], ["India", "USA", "Japan", "Pakistan", "Russia"])

In [74]:
ser2

India       1
USA         2
Japan       3
Pakistan    5
Russia      4
dtype: int64

In [75]:
ser1["India"]

1

In [76]:
ser3 = pd.Series(labels)

In [77]:
ser3

0    a
1    b
2    c
dtype: object

In [78]:
ser3[0]

'a'

In [79]:
ser1 + ser2

China       NaN
India       2.0
Japan       6.0
Pakistan    NaN
Russia      8.0
USA         4.0
dtype: float64

Note: <br>
• Above when we added two series we can notice that, China and Pakistan didnot  find their matches, soo for them the added value is printed NaN!

• Also the datatypes for the Data also got changed to float, so that the data doesnt loose any values!